<p>
  <b>Body:</b>
  <img src="<%= url_for(:controller => :comments, :action => :sticky, :params => {:id => @comment.id}) %>" />
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
