body {
  background-color: yellow;
}

h1 {
}

a.big_stupid_title {
	color: #000000;
  font-size: 4.65em;
  font-style: italic;
  font-weight: bold;
  text-decoration: underline blink;
}
a.big_stupid_title:visited {
	color: #000000;
}
a.big_stupid_title:hover {
	color: #FFA500;
	background:none;
}

#container {
  margin: 0px auto;
  padding-left: 200px;
}

.sticky {
	width: 200px;
	height: 193px;
	position: absolute;
	top: -40px;
	left: 475px;
}

#sticky_container {
	position:relative;
}

#comment-form {
	background-color: #FFA500;
	width: 425px;
	padding-left: 15px;
	padding-bottom: 1px;
}
