<% form_for(@picture, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :picture %><br />
    <%= f.file_field :uploaded_picture %>
  </p>
  <p>
    <%= f.submit button_text %>
  </p>
<% end %>